header {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 50px;
    text-align: center;
    color: #dfe955;
  }
  
  h1 img {
    border-radius: 30px;
    border: 1px solid red;
    width: 60px;
    height: 60px;
  }
  