#image-upload {
    margin: 20px 0;
  }
  
  #cropper-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  #crop-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #crop-button:hover {
    background-color: #0056b3;
  }
  